.rdp {
  color: white;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    img {
      height: auto;
      width: 100%;
      @media screen and (min-width: 768px) {
        height: 100%;
        width: auto;
      }
    }

    article {
      padding: 1rem;
      @media screen and (min-width: 768px) {
        padding-left: 1rem;
      }
    }
  }

  .menu {
    color: #1f4439;
    margin-top: 2rem;
    background-color: #fff8dc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menu-list {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .dish {
        width: 100%;
        padding: 1rem;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;

        img {
          height: 7rem;
        }

        .dish-text {
          padding-left: 1rem;
        }
      }
    }
  }
}
