.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  border-top: 1px solid var(--color-primary);
}

.page-link {
  max-width: 150px;
  width: auto;
}
